{% extends "layout.html" %}
{% block content %}
	<h1>Welcome to DineInHall!</h1>
	<div>
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		    	You walk into a Northeastern Dining Hall and see a few food options. You think to yourself, "What can I even eat here?" But wait, Northeastern actually has over 1500 food items! With so many options, why is it so hard to find some good food? Well, that's just because you don't know about all the options.
		    	<br><br>
		    	Introducing DineInHall! The <i>ONLY</i> website that allows you to customize your limitless food options at Northeastern University. We're here to help you, that's right <i>YOU</i>, make the most of your meal plan and to respark your love for food at Northeastern by allowing you to...
				<br><br>
		    	Use our Advanced Search features to find custom meal plan recommendations just for you! Calories, protein, vitamins, just pick, choose, and eat! View the top rated foods and make an informed decision about your meals.
		    </div>
		  </div>
		</article>
	</div>
{% endblock content %}
{% block sidebar %}
	<div class="col-md-4">
      <div class="content-section">
        <h3>Dining Hall Hours</h3>
        <p class='text-muted'>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>International Village</b></li>
            <li class="list-group-item list-group-item-light">M-Th: 7am-10pm</li>
            <li class="list-group-item list-group-item-light">Friday: 7am-9pm</li>
            <li class="list-group-item list-group-item-light">Weekends: 8am-9pm</li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Stetson East</b></li>
            <li class="list-group-item list-group-item-light">M-Th: 7am-11pm</li>
            <li class="list-group-item list-group-item-light">Friday: 7am-10pm</li>
            <li class="list-group-item list-group-item-light">Weekends: 8am-10pm</li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Stetson West</b></li>
            <li class="list-group-item list-group-item-light">M-Th: 11am-8pm</li>
            <li class="list-group-item list-group-item-light">Friday: 11am-5pm</li>
            <li class="list-group-item list-group-item-light">Saturday: Closed</li>
            <li class="list-group-item list-group-item-light">Sunday: 4pm-8pm</li>
          </ul>
        </p>
      </div>
    </div>
{% endblock %}
